<p id="notice"><%= notice %></p>

<p>
  <strong>Reg number:</strong>
  <%= @pos_usr_lorry.reg_number %>
</p>

<p>
  <strong>Number:</strong>
  <%= @pos_usr_lorry.number %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pos_usr_lorry.image %>
</p>

<p>
  <strong>Pos usr transpoter:</strong>
  <%= @pos_usr_lorry.pos_usr_transpoter %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pos_usr_lorry.pos_usr_lorry_category %>
</p>


<%= link_to 'Edit', edit_pos_usr_lorry_path(@pos_usr_lorry) %> |
<%= link_to 'Back', pos_usr_lorries_path %>
